*{
    margin: 0;
    padding: 0;
}

.box{
    height: 10rem;
    width: 15rem;
    background-image: url(opening.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.buttons{
    position: absolute;
    bottom: 0;
}

#random {
    display: none;
    height: 15rem;
    width: 10rem;
    background-image: url(cute.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: .3rem;
}

#next{
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0;
}
